<head>
    <style type="text/css">
        <!--
        p.MsoNormal {
            margin-top:0cm;
            margin-right:0cm;
            margin-bottom:10.0pt;
            margin-left:0cm;
            line-height:115%;
            font-size:11.0pt;
            font-family:"Calibri","sans-serif";
        }
        -->
    </style>
</head>
<div class="notePage">
    <h2>О проекте</h2>
    <p class="MsoNormal"><strong><span style="line-height:115%; font-size:14.0pt; color:black; ">Worksn  &ndash; площадка, помогающая найти свободные руки или подработать в свободное время.  Достаточно лишь найти на карте того, кому нужна помощь (сходить в магазин,  передвинуть шкаф, разобраться с компьютером, перевезти что-либо куда-либо&hellip;) или  того, кто может это сделать и связаться с ним. Если таковых не нашлось, добавьте  свое объявление (просьбу о помощи или готовность помочь) и, с большой  вероятностью, в скором времени с Вами свяжется тот, кто может Вам помочь. Вы  можете удаленно помогать вашим близким, найдя необходимых людей в их районе и  ознакомившись с отзывами о потенциальных помощниках.</span></strong><strong><span style="line-height:115%; font-size:14.0pt; "> </span></strong></p>
</div>
