<style type="text/css">
    <!--
    p.MsoNoSpacing {
        margin:0cm;
        margin-bottom:.0001pt;
        font-size:11.0pt;
        font-family:"Calibri","sans-serif";
    }
    p.MsoNormal {
        margin-top:0cm;
        margin-right:0cm;
        margin-bottom:8.0pt;
        margin-left:0cm;
        line-height:107%;
        font-size:11.0pt;
        font-family:"Calibri","sans-serif";
    }
    -->
</style>
<div class="notePage">
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Подработка/разовая работа:</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">50-250 рублей за 10-15  минут.</span></strong></p><br>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Свободные руки, муж на час, грузчик&hellip;</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">здесь и сейчас.</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">&nbsp;</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Без посредников.</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Без опыта работы. </span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Без образования. </span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">Без утомительной регистрации.</span></strong></p>
    <p class="MsoNoSpacing"><strong><span style="font-size:18.0pt; ">&nbsp;</span></strong></p>
    <p class="MsoNormal"><strong><span style="line-height:107%; font-size:18.0pt; ">Общие принципы:</span></strong></p>
    <p class="MsoNormal"><strong><span style=" font-size:16.0pt; line-height:115%; ">- есть 10-15 минут? Проживите их с  пользой. Оставьте объявление на </span></strong><a href="https://worksn.ru"><strong><span style="font-size:16.0pt; line-height:115%; ">worksn</span></strong></a><strong><span style="font-size:16.0pt; line-height:115%; ">, например: вынесу мусор, нарублю  дрова, помогу с сантехникой… Укажите на карте район, где вы сможете оперативно оказать помощь. Потенциальный Заказчик из соседнего дома увидит на карте Ваше объявление и напишет Вам в мессенджере или позвонит, если Вы укажете телефон, и вы напрямую договоритесь о деталях сделки. На большинство сделок (типа: некому сбегать за добавкой или вынести мусор) уйдет несколько минут и люди с радостью отблагодарят Вас 100-200 рублями, т.к. им не придется отрываться от застолья или «танчиков».</span></strong></p>
    <p class="MsoNormal"><strong><span style="font-size:16.0pt; line-height:115%; ">- некому сходить в магазин, вынести  мусор или спустить старый холодильник? Найдите на карте в </span></strong><a href="https://worksn.ru"><strong><span style="font-size:16.0pt; line-height:115%; ">worksn</span></strong></a><strong><span style="font-size:16.0pt; line-height:115%; "> </span></strong><strong><span style="font-size:16.0pt; line-height:115%; ">того, кто может Вам помочь &laquo;здесь и  сейчас&raquo; и договоритесь о сумме вознаграждения или оставьте объявление и в  скором времени найдется тот, кто Вам нужен. Нет необходимости проходить нудную  регистрацию, достаточно зайти анонимно. </span></strong></p>
    <p class="MsoNormal"><strong><span style="font-size:16.0pt; line-height:115%; ">При полной регистрации анонимного пользователя  все данные переносятся на новый аккаунт. Почтовый адрес не обязателен:  необходим для восстановления пароля.</span></strong></p>
    <p class="MsoNormal"><span style="line-height:107%; font-size:12.0pt; ">&nbsp;</span></p>
    <p class="MsoNormal"><span style="line-height:107%; font-size:14.0pt; ">&nbsp;</span></p>
</div>