<head>
    <style type="text/css">
        <!--
        p.MsoNormal {
            margin-top:0cm;
            margin-right:0cm;
            margin-bottom:10.0pt;
            margin-left:0cm;
            line-height:115%;
            font-size:11.0pt;
            font-family:"Calibri","sans-serif";
        }
        -->
    </style>
</head>

<div class="notePage">
    <h2>Частые вопросы</h2>
    <p class="MsoNormal"><strong><span style="line-height:115%; font-size:16.0pt; ">Обязательно ли регистрироваться</span></strong></p>
    <p class="MsoNormal" style="margin-left:35.4pt;"><strong><span style="line-height:115%; font-size:14.0pt; ">Что бы пользоваться  услугами площадки, регистрироваться не обязательно, достаточно войти анонимно:  данные анонимного пользователя сохранятся в хранилище приложения или браузера  (куки). Полная регистрация желательна при частом использовании площадки:  появляется возможность восстановить доступ к аккаунту через почту и заходить с  других устройств. В остальном анонимный пользователь ничем не ограничен,  включая рейтинг и отзывы. При полной регистрации анонимного пользователя все  накопленные данные (рейтинг, отзывы, сообщения, объявления...) сохраняются для  нового аккаунта.</span></strong></p>
    <p class="MsoNormal"><strong><span style="font-size:16.0pt; ">Как добавить объявление</span></strong></p>
    <p class="MsoNormal" style="margin-left:35.4pt;"><strong><span style="line-height:115%; font-size:14.0pt; ">Выбрать категорию и тип  объявления (Заказчик/Работник). Нажать &quot;Добавить&quot;. В появившейся  панели выбрать: время актуальности объявления (по умолчанию - 1 месяц),  кликнуть по карте или по значку&nbsp; </span></strong><strong><span style="font-size:14.0pt; "><img width="25" height="25" src="/service_img/design/my_location.png"></span></strong><strong><span style="line-height:115%; font-size:14.0pt; ">, чтобы указать свои координаты, ввести текст объявления, нажать  &quot;Опубликовать&quot;. Также можно добавить изображения (до 20-ти шт.) и  указать время показа объявления.</span></strong></p>
    <p class="MsoNormal"><strong><span style="font-size:16.0pt; ">Как редактировать объявление</span></strong></p>
    <p class="MsoNormal" style="margin-left:35.4pt;"><strong><span style="line-height:115%; font-size:14.0pt; ">В списке объявлений  нажать и удерживать Ваше объявление. Далее из выпадающего меню выбрать  необходимое действие.</span></strong></p>
    <p class="MsoNormal"><strong><span style="line-height:115%; font-size:14.0pt; ">Так же настоятельно рекомендуем  ознакомиться с рекомендациями по стабильной работе приложения в фоновом режиме  по </span></strong><a href="https://worksn.ru/recommendations"><strong><span style="font-size:14.0pt; ">ссылке</span></strong></a><strong><span style="font-size:14.0pt; ">.</span></strong></p>
</div>
