<head>
    <style type="text/css">
        <!--
        p.MsoNormal {
            margin-top:0cm;
            margin-right:0cm;
            margin-bottom:10.0pt;
            margin-left:0cm;
            line-height:115%;
            font-size:11.0pt;
            font-family:"Calibri","sans-serif";
        }
        -->
    </style>
</head>
<div class="notePage">
    <h2>Безопасность</h2>
<p class="MsoNormal" style="margin-bottom:.0001pt;line-height:normal;"><strong><span style="font-size:14.0pt; color:black; ">Worksn - площадка для  общения потребителей и поставщиков услуг/товаров. Все сделки, совершаемые с  использованием ресурса worksn.ru и всех его субдоменов (далее сделки) осуществляются &nbsp;по личной договоренности между поставщиком и  потребителем услуги/товара. В случае возникновения спорных ситуаций  администрация </span></strong><strong><span style="font-size:14.0pt; color:black; ">Worksn</span></strong><strong><span style="font-size:14.0pt; color:black; "> приложит максимум усилий  для их разрешений. При этом всю ответственность за совершаемые операции несут  участники сделки.</span></strong></p>
<p class="MsoNormal">&nbsp;</p>
</div>