<link href="tmp.css" rel="stylesheet">
<div style="width: 500px;text-align: left">
    <div class="frmMsgChain" style="background-color: #c4d7e9">
        <div class="reply">
            <a class="login">Вы</a>
            <div>
                <img src="../../service_img/design/envelope.png">
                <a class="content">Как отметил источник газеты, российская компания предлагала Кишинёву отложить принятие правил ЕС, которые привели бы к либерализации газовых рынков  и усилению конкуренции.Ранее пресс-секретарь президента России Дмитрий Песков заявил, что контакты с Молдавией по поставкам газа продолжатся.23 октября официальный представитель компании «Газпром» Сергей Куприянов заявил о возможности прекращения поставок газа Молдавии с 1 декабря.По данным компании, общий долг Молдавии за поставленный Россией газ составляет $709 млн.</a>
            </div>

        </div>
        <div class="msgNew">
            <img src="../../service_img/avatars/no-avatar.jpg">
            <a class="content">Пустые полки в супермаркетах, длинные очереди у автозаправок — Германия может столкнуться с теми же проблемами, которые переживает сейчас Великобритания, сообщает Welt. В стране не хватает 1,2 миллиона рабочих. В некоторых сферах, например по уходу за пожилыми и больными, возникла чрезвычайная ситуация. Будущие власти ФРГ рассчитывают, что урегулировать проблему поможет увеличение трудовой миграции, но время поджимает, отмечает немецкий телеканал.
 </a>
            <a class="time">12:03 11:45</a>
        </div>
    </div>
</div>
